<div id="footer">
    <div id="footercontent">
        <div id="footerleft">
            <p>中国科学技术大学开源软件镜像由 <a href="http://ustcnet.ustc.edu.cn/">中国科学技术大学网络信息中心</a> 提供支持。</p>
            <p>mirrors.ustc.edu.cn 是 Debian, Ubuntu, Fedora, Archlinux, CentOS 等多个发行版的官方源和 Debian 在中国的官方镜像。目前是中国大陆高校访问量最大，收录最全的开源软件镜像。</p>
            <p>中国科学技术大学 Linux 用户协会是由中国科学技术大学在校的 GNU/Linux 爱好者发起并组成的一个全校性群众团体。成立协会的目的在于联合科大的 GNU/Linux 使用者，搭建信息交流共享的平台，宣传自由软件的价值，提高自由软件社区文化氛围，推广自由软件在科大校园乃至合肥地区的应用。</p>
        </div>
        <div id="footerright">
            <p><span style="font-family:'Open Sans','Seoge UI','Ubuntu',sans-serif; font-size:2em; font-weight:400">LUG</span><span style="font-family:'Open Sans','Seoge UI','Ubuntu',sans-serif; font-size:2em; font-weight:100" >@USTC</span></p>
            <p style="font-family:'clicker script','segoe script','Comic Sans MS'; font-size:28px">"life,love,linux"</p>
        </div>
        <div style="clear: both;" mce_style="clear: both;"></div>
    </div>
</div>
