<div id="header">
    <ul id="headlinks">
        <li><a href="/status/" target="_blank">Status</a></li>
        <li><a href="https://servers.blog.ustc.edu.cn/" target="_blank">News</a></li>
        <li><a href="https://lug.ustc.edu.cn/wiki/mirrors/help" target="_blank">Help</a></li>
        <li><a href="https://lug.ustc.edu.cn" target="_blank">About</a></li>
    </ul>
</div>
<div id="welcome">
    <div id="intro">
        <h1 id="infinity">Another infinity</h1>
        <h2>Welcome to USTC open source software mirror.</h2>
        <p>Brought to you by University of Science and Technology of China and USTCLUG.</p>
        <br>
    </div>
</div>
