<div id="header">
    <ul id="headlinks">
        <li><a href="/status/" target="_blank">Status</a></li>
        <li><a href="https://servers.blog.ustc.edu.cn/" target="_blank">News</a></li>
        <li><a href="https://lug.ustc.edu.cn/wiki/mirrors/help" target="_blank">Help</a></li>
        <li><a href="https://lug.ustc.edu.cn" target="_blank">About</a></li>
    </ul>
</div>
<div id="welcome">
    <div id="intro">
        <h1>Another infinity</h1>
        <h2>Welcome to the USTC open source mirror.</h2>
        <p>Brought to you by University of Science and Technology of China and USTCLUG.</p>
        <br>
        <p style="color: yellow;font-weight: bold;font-size: x-large;">We have been attacked. Most of files have been checked, but some minority distros may still be polluted by the cracker.</p>
        <p style="color: yellow;font-weight: bold;font-size: x-large;">Please <a href="mailto:lug@ustc.edu.cn">report to us</a>
        if you find the files' checksum unmatched. Take you own risk to download the files directly without checksum.</p>
    </div>
</div>
