<div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
              <a class="navbar-brand" href="/">
                  <span class="thuhidden">
                      <picture>
                        <source
                            srcset="/static/img/logo-small-dark.png 1x, /static/img/logo-small-dark@2x.png 2x, /static/img/logo-small-dark@3x.png 3x, /static/img/logo-small-dark@4x.png 4x"
                            media="(prefers-color-scheme: dark)" /> <img src="/static/img/logo-small.png"
                            srcset="/static/img/logo-small.png 1x, /static/img/logo-small@2x.png 2x, /static/img/logo-small@3x.png 3x, /static/img/logo-small@4x.png 4x"
                            alt="" />
                      </picture>
                      中国科学技术大学</span>开源软件镜像站
              </a>
      </div>
      <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav" role="menubar">
          <li role="none"><a role="menuitem" href="/status/">STATUS</a></li>
          <li role="none"><a role="menuitem" href="https://servers.ustclug.org/">NEWS</a></li>
          <li role="none"><a role="menuitem" href="/help/">HELP</a></li>
          <li role="none"><a role="menuitem" href="https://lug.ustc.edu.cn">ABOUT</a></li>
          <li role="none" class="active"><a role="menuitem" aria-checked="true"
            href="/">MIRRORS</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>