<script type="text/javascript">
//var isoinfo = "INCLUDE isoinfo.json";
var isoinfo = {{ isoinfo|safe }};
var appinfo = {{ appinfo|safe }};
function update_distro_options(element_name, infovar, type) {
	var s = document.getElementById(element_name);
	s.options.length = 0;
	for (var i=0; i<infovar.length; i++) {
		s.options[s.options.length] = new Option(infovar[i].distro, i);
	}
	switchdistro(type);
	switchversion(type);
}

function modal(type)
{
	if (type === "app") {
		var bx = document.getElementById("appmodal");
	} else {
		var bx = document.getElementById("isomodal");
	}
	bx.style.visibility = (bx.style.visibility == "visible") ? "hidden" : "visible";
}

function switchdistro(type)
{
	if (type === "app") {
		var distro = document.getElementById("appdistro");
		var s = document.getElementById("appversion");
		var info = appinfo;
	} else {
		var distro = document.getElementById("isodistro");
		var s = document.getElementById("isoversion");
		var info = isoinfo;
	}
	var idx = distro.selectedIndex;
	s.options.length = 0;
	if (info.length === 0) {
		return;
	}
	for (var i=0; i<info[idx].urls.length; i++) {
		s.options[s.options.length] = new Option(info[idx].urls[i].name, i)
	}
}

function switchversion(type)
{
	// show warning about exotic architectures
	if (type === "app") {
		var s = document.getElementById("appversion");
	} else {
		var s = document.getElementById("isoversion");
	}
	var warning_element = document.getElementById("download_warning");
	var text = s.options[s.selectedIndex].text;
	var exotic_archs = ["aarch64", "ppc64le", "arm64"]
	for (var i=0; i<exotic_archs.length; i++) {
		if (text.indexOf(exotic_archs[i]) !== -1) {
			warning_element.style.display = "block";
			warning_element.textContent = "提示：如果你不知道 " + exotic_archs[i] + " 是什么，你所选择的镜像或文件可能将无法在你的设备上正常运行，请考虑选择其他文件。";
			return;
		}
	}
	warning_element.style.display = "none";
}

function downloadiso(type)
{
	if (type === "app") {
		var distro = document.getElementById("appdistro");
		var version = document.getElementById("appversion");
	} else {
		var distro = document.getElementById("isodistro");
		var version = document.getElementById("isoversion");
	}
	var i = distro.selectedIndex;
	var j = version.selectedIndex;
	if (type === "app") {
		var link = appinfo[i].urls[j].url;
	} else {
		var link = isoinfo[i].urls[j].url;
	}
	window.open(link);
    modal(type);
}

update_distro_options("isodistro", isoinfo, "iso");
update_distro_options("appdistro", appinfo, "app");
</script>

<script>
(function() {
'use strict'

var userInput = document.getElementById('search')
var repoList = document.querySelectorAll('.filelist > tbody > tr')

userInput.addEventListener('input', function(evt) {
    var pat = new RegExp(userInput.value, 'i')
    Array.prototype.slice.call(repoList).forEach(function(tr) {
        var a = tr.querySelector('a')
        if (!pat.test(a.text)) {
            tr.classList.add('hidden')
        } else {
            tr.classList.remove('hidden')
        }
    })
})

document.body.onkeyup = function(evt) {
    if (evt.keyCode === 83 && document.activeElement.tagName !== 'INPUT') {
        userInput.scrollIntoView()
        userInput.focus()
    }
}
})()
</script>
<!-- Designed by Miaomiao Li. It's a wonderful life! -->
<!--
    vim:ai:et:sta:ts=4:sts=4:sw=4
-->
