<div id="sidebar">
    <div id="servernews">
    <a href="https://servers.ustclug.org/category/mirrors/"><h3>镜像站新闻通知</h3></a>
    {% if newslist|length > 0 %}
        {% for record in newslist -%}
        <p><a href="{{ record.link }}">{{ record.title }}</a></p>
        {%- endfor %}
    {% else %}
        <p>新闻服务器出故障了, 正在抢修当中 :(<p>
    {% endif %}
    </div>
    <div id="cdimages">
        <h3>获取发行版映像</h3>
        <p>这里为您提供各大主流 Linux 发行版的安装镜像 / ISO 文件，请根据您的发行版及其详细版本进行选择：</p>
        <p></p>
        <span class="btn" onclick="modal()">获取安装镜像 &gt;</span>
    </div>
    <div id="domains">
        <h3>域名选择</h3>
        <a href="//mirrors.ustc.edu.cn/">mirrors.ustc.edu.cn</a> 自动解析
        <a href="//ipv4.mirrors.ustc.edu.cn/">ipv4.mirrors.ustc.edu.cn</a> IPv4 线路
        <a href="//ipv6.mirrors.ustc.edu.cn/">ipv6.mirrors.ustc.edu.cn</a> IPv6 线路
        <a href="//cernet.mirrors.ustc.edu.cn/">cernet.mirrors.ustc.edu.cn</a>  教育网线路
        <a href="//chinanet.mirrors.ustc.edu.cn/">chinanet.mirrors.ustc.edu.cn</a> 电信线路
        <a href="//unicom.mirrors.ustc.edu.cn/">unicom.mirrors.ustc.edu.cn</a> 联通线路
        <a href="//cmcc.mirrors.ustc.edu.cn/">cmcc.mirrors.ustc.edu.cn</a>  移动线路
        <a href="/help/rsync-guide.html">rsync.mirrors.ustc.edu.cn</a> Rsync 线路
    </div>
    <div id="mirrorshelp">
        <h3>Mirrors 帮助</h3>
        <p>如果您不了解如何配置 Linux 发行版 / 软件的安装源， 这里为您提供了主流发行版的软件源配置帮助：</p>
        <span class="btn" onclick="window.open('/help')">配置软件源  &gt;</span>
        <p>您也可以通过左边的文件列表中相应源的 Help 链接寻求帮助。</p>
        <span></span>
    </div>
    <div id="mirrorlinks">
        <h3>常用链接</h3>
        <a href="/status" target="_blank">系统状态 / Status</a><br/>
        <a href="https://servers.ustclug.org/" target="_blank">LUG 服务器新闻 / News</a><br/>
        <a href="http://lug.ustc.edu.cn/" target="_blank">LUG@USTC</a><br/>
        <a href="https://github.com/ustclug/mirrorrequest/" target="_blank">新增镜像 / New Mirror</a><br/>
        <a href="mailto:lug@ustc.edu.cn">联系我们 / Contact US</a><br/>
        <span></span>
    </div>
</div>
<div style="clear: both;"></div>
