<div id="sidebar">
    <div id="servernews">
    {% if newslist|length > 0 %}
        <h3>镜像站新闻通知</h3>
        {% for record in newslist -%}
        <p><a href="{{ record.link }}">{{ record.title }}</a></p>
        {%- endfor %}
    {% else %}
    {% endif %}
    </div>
    <div id="cdimages">
        <h3>获取发行版映像</h3>
        <p>这里为您提供各大主流 Linux 发行版的安装镜像 / ISO 文件，请根据您的发行版及其详细版本进行选择：</p>
        <p></p>
        <span class="btn" onclick="modal()">获取安装镜像 &gt;</span>
    </div>
    <div id="mirrorshelp">
        <h3>Mirrors 帮助</h3>
        <p>如果您不了解如何配置 Linux 发行版 / 软件的安装源， 这里为您提供了主流发行版的软件源配置帮助：</p>
        <span class="btn" onclick="window.open('https://lug.ustc.edu.cn/wiki/mirrors/help')">配置软件源  &gt;</span>
        <p>您也可以通过左边的文件列表中相应源的 Help 链接寻求帮助。</p>
        <span></span>
    </div>
    <div id="mirrorlinks">
        <h3>常用链接</h3>
        <a href="/status" target="_black">系统状态 / Status</a><br/>
        <a href="https://servers.blog.ustc.edu.cn/" target="_blank">LUG 服务器新闻 / News</a><br/>
        <a href="http://lug.ustc.edu.cn/" target="_blank">LUG@USTC</a><br/>
        <a href="mailto:lug@ustc.edu.cn">联系我们 / Contact US</a><br/>
        <span></span>
    </div>
</div>
<div style="clear: both;" mce_style="clear: both;"></div>
